<div class="flex flex-col justify-center m-8">

  <div *ngFor="let annotation of annotations$ | async" class="group flex flex-col py-4 px-8 bg-white cursor-pointer shadow-sm my-2 hover:shadow-md" (click)="annotationClicked(annotation)">
    <div class="flex justify-between">
      <div>
        <span class="text-lg font-medium">
          {{ annotation.user }}
        </span>
        -
        <span class="font-light group-hover:text-purple-400">
          {{ annotation.seconds }} seconds
        </span>
      </div>

      <button class="hover:text-red-400" (click)="deleteAnnotation(annotation); $event.stopPropagation()">
        <i-feather name="trash" style="height: 1.125rem; width: 1.125rem;"></i-feather>
      </button>

    </div>
    <div class="apply text-sm">
      {{ annotation.message }}
    </div>
  </div>

</div>
